<div class="row">
  <div class="col text-center">
    <!-- ADD JOB FORM -->
    <form method="POST" action="/addJob" id="addJobForm">
      <div class="modal-body">
        <!-- TITLE -->
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title" id="title" maxlength="100" required>
          </div>
        </div>
        <!-- DESCRIPTION -->
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" name="description" id="description" rows="3"></textarea>
        </div>
        <!-- Location -->
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Location</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="location" id="location" required>
          </div>
        </div>
        <!-- PRICE -->
        <div class="form-group row">
          <label for="price" class="col-sm-2 col-form-label">Price (SGD)</label>
          <div class="col-sm-10">
            <input type="number" min="0" step="0.10" data-number-to-fixed="2" data-number-stepfactor="1" class="form-control" name="price" id="price" required>
          </div>
        </div>
        <!-- DATE START -->
        <div class="form-group row">
          <label for="dateStart" class="col-sm-2 col-form-label">Date Start</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" name="dateStart" id="dateStart" required>
          </div>
        </div>
        <!-- TIME START -->
        <div class="form-group row clockpicker" data-placement="top" data-align="top" data-autoclose="true">
          <label for="timeStart" class="col-sm-2 col-form-label">Time Start</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="00:00" name="timeStart" id="timeStart">
          </div>
        </div>
        <!-- DATE END -->
        <div class="form-group row">
          <label for="dateEnd" class="col-sm-2 col-form-label">Date End</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" name="dateEnd" id="dateEnd" required>
          </div>
        </div>
        <!-- TIME END -->
        <div class="form-group row clockpicker" data-placement="top" data-align="top" data-autoclose="true">
          <label for="timeEnd" class="col-sm-2 col-form-label">Time End</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="00:00" name="timeEnd" id="timeEnd">
          </div>
        </div>
      </div>
      <!-- ERROR -->
      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="addJobError" style="display:none;">
        <div id="addJobErrorMessage"></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" name="addJob" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>
