<form method="POST" action="/login">
  <!-- EMAIL -->
  <div class="row">
    <div class="input-field">
      <input placeholder="name@mail.com" id="email" type="email" class="validate" name="email" required>
      <label for="email">Email</label>
    </div>
  </div>
  <!-- PASSWORD -->
  <div class="row">
    <div class="input-field">
      <input placeholder="" id="password" type="password" class="validate" name="password" required>
      <label for="password">Password</label>
    </div>
  </div>
  <!-- SUBMIT -->
  <button class="btn waves-effect waves-light" type="submit" name="login">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
