<form method="POST" action="/signup">
  <!-- EMAIL -->
  <div class="row">
    <div class="input-field">
      <input placeholder="name@mail.com" id="email" type="email" class="validate" name="email" required>
      <label for="email">Email</label>
    </div>
  </div>
  <!-- USERNAME -->
  <div class="row">
    <div class="input-field">
      <input placeholder="Johnny" id="username" type="text" class="validate" name="username" required>
      <label for="username">Username</label>
    </div>
  </div>
  <!-- PASSWORD -->
  <div class="row">
    <div class="input-field">
      <input placeholder="" id="password" type="password" class="validate" name="password" required>
      <label for="password">Password</label>
    </div>
  </div>
  <!-- CONFIRM PASSWORD -->
  <div class="row">
    <div class="input-field">
      <input placeholder="" id="confirmPassword" type="password" class="validate" name="confirmPassword" required>
      <label for="confirmPassword">Confirm Password</label>
    </div>
  </div>
  <!-- SUBMIT -->
  <button class="btn waves-effect waves-light" type="submit" name="signup">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
