<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gigomy</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='logo/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='logo/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='logo/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='logo/site.webmanifest')}}">
    
    <!-- APP LOGO IS MADE FROM https://logomakr.com -->

    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/flatpikr.min.css')}}"  media="screen,projection"/>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/flatpikr.js')}}"></script>

  </head>
  <body>
    <nav>
      <div class="nav-wrapper purple">
        <a href="/" class="brand-logo">&nbsp;Gigomy</a>
        <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{url_for('about', _scheme='https', _external=True)}}">About</a></li>
          <li><a href="{{url_for('overview', _scheme='https', _external=True)}}">Dashboard</a></li>
          <li><a href="{{url_for('index', _scheme='https', _external=True)}}">Jobs</a></li>
          <li><a href="{{url_for('chat', _scheme='https', _external=True)}}">Chat</a></li>
          <li><a href="{{url_for('logout', _scheme='https', _external=True)}}">Logout</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{url_for('about', _scheme='https', _external=True)}}">About</a></li>
          <li><a href="{{url_for('overview', _scheme='https', _external=True)}}">Dashboard</a></li>
          <li><a href="{{url_for('index', _scheme='https', _external=True)}}">Jobs</a></li>
          <li><a href="{{url_for('chat', _scheme='https', _external=True)}}">Chat</a></li>
          <li><a href="{{url_for('logout', _scheme='https', _external=True)}}">Logout</a></li>
    </ul>

    <main>
      <div class="container">
        <br/>
        {% block content %}
        {% endblock content %}
      </div>
      <br/>
    </main>

    <footer class="page-footer purple">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Gigomy</h5>
            <div class="fb-share-button" data-href="https://gigomy--emilyong.repl.co/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgigomy--emilyong.repl.co%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <p class="grey-text text-lighten-4">Post/Take up jobs and help people!</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          &copy; 2020 <a href="mailto:ong.huiqi.emily@dhs.sg?subject=Gigomy">Emily Ong Hui Qi</a> |
          A submission for <a href="https://www.codinglab.com.sg/ycgh2020/">Young Coders Global Hackathon</a></small>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".datepicker").datepicker();
        $(".modal").modal();
        $(".collapsible").collapsible();
        $(".sidenav").sidenav();
        $(".tabs").tabs();
        $(".flatpickr").flatpickr({
          noCalendar: true,
          enableTime: true,
          dateFormat: "H:i",
          time_24hr: true
        });
        var socket = io();
        socket.on("connect", function () {
          socket.emit("connectUser");
        });
        socket.on("message", function (data) {
          M.toast({html: data["sender"] + " says: " + data["message"]});
          var li = document.createElement("li");
          li.setAttribute("class", "collection-item");
          li.appendChild(document.createTextNode(data["sender"]+ "(" + data["datePosted"] + "): " + data["message"]));
          var allMessages = document.getElementById("allMessages").children;
          for (var i = 0; i < allMessages.length; i ++) {
            if (allMessages[i].hasAttribute("data-item-empty")) {
              allMessages[i].parentNode.removeChild(allMessages[i]);
            }
          }
          document.getElementById("allMessages").appendChild(li);

          var contacts = document.getElementById("contacts_").children;
          var exists = false;
          for (var i = 0; i < contacts.length; i ++) {
            if (contacts[i].getAttribute("data-item-name") == data["sender"]) {
              exists = true; break;
            }
            else if (contacts[i].getAttribute("data-item-name") == "") {
            contacts[i].parentNode.removeChild(contacts[i]);
            break;
          }
          }
          if (!exists) {
            var li = document.createElement("li");
            li.setAttribute("class", "collection-item avatar");
            li.setAttribute("data-item-name", data["sender"]);
            var icon = document.createElement("i");
            icon.setAttribute("class", "material-icons circle");
            icon.appendChild(document.createTextNode("account_circle"));
            li.appendChild(icon);
            var a = document.createElement("a");
            a.setAttribute("href", "{{url_for('chat', username='" + data["sender"] + "')}}");
            var span = document.createElement("span");
            span.setAttribute("class", "title");
            span.appendChild(document.createTextNode(data["sender"]));
            a.appendChild(span);
            li.appendChild(a);
            document.getElementById("contacts_").appendChild(li);
          }
          
        });
        socket.on("notOnline", function (data) {
        });
        // socket.on("jobPosted", function (data) {
        //   M.toast({html: "A new job has been posted!"});
        // });
      });
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

  </body>
</html>
