{% extends "base.html" %}

{% block content %}
{% if contacts %}
  <h5>Continue your chats...</h5>
{% endif %}
  <ul class="collection">
    {% if contacts %}
      {% for contact in contacts %}
        <li class="collection-item avatar">
          <i class="material-icons circle">account_circle</i>
          <a href="{{url_for('chat', username=contact)}}"><span class="title">{{contact}}</span></a>
        </li>
      {% endfor %}
    {% else %}
      <li class="collection-item">No contacts yet...</li>
    {% endif %}
  </ul>
  {% if inChat %}
    <ul class="collection with-header" id="allMessages">
      <li class="collection-header"><h4>Chatting with {{jobSender["username"]}}</h4></li>
      {% if messages %}
        {% for message in messages %}
          <li class="collection-item">{{message["msgSender"]}}: {{message["msgText"]}}</li>
        {% endfor %}
      {% else %}
        {% if jobSender["username"] != currentUser["username"] %}
          <li class="collection-item">No messages yet...</li>
        {% else %}
          <li class="collection-item">You cannot chat with yourself...</li>
        {% endif %}
      {% endif %}
    </ul>

    {% if jobSender["username"] != currentUser["username"] %}
      <form method="POST" id="sendMessageForm">
          <div class="row">
            <div class="input-field col s10">
              <input placeholder="Type something..." id="message" name="message" type="text" class="validate">
            </div>
            <div class="input-field col s2">
              <button class="btn waves-effect waves-light" type="submit" name="sendMessage">
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
    {% endif %}
  {% endif %}

  <br/><br/>
  <div class="row">
    <div class="col text-center">
      <a href="/"><button type="button" class="btn btn-light">Back</button></a>
    </div>
  </div>

  {% if inChat %}
    <script type="text/javascript">
      var socket = io();
      var sendMessageForm = document.getElementById("sendMessageForm");
      sendMessageForm.onsubmit = function () {
        event.preventDefault();
        var receiver = (JSON.parse({{jobSender_|tojson}}))["username"];
        var message = document.getElementById("message").value;
        var data = {"receiver": receiver, "message": message};
        var currentUser = JSON.parse({{currentUser_|tojson}});

        socket.emit("sendPrivateData", data);

        var li = document.createElement("li");
        li.setAttribute("class", "collection-item");
        li.appendChild(document.createTextNode(currentUser["username"]+": "+message))
        document.getElementById("allMessages").appendChild(li);
        document.getElementById("message").value = "";
      };
    </script>
  {% endif %}
{% endblock content %}
