{% extends "base.html" %}

{% block content %}

  <img style="margin-left:auto; margin-right:auto; display:block; width:20%;" class="responsive-img small" src="{{url_for('static', filename='img/logo.png')}}">
  <p class="center-align">The Gig Economy</p>

  <blockquote>
    Our economy is taking a big hit...But with things still unfolding, we knew we might have to do more.
    The situation is especially serious for some sectors - hotels, aviation, hospitality, and freelancers in the <h5 style="display:inline;">gig economy</h5>.
    But nobody has been spared. Everyone feels the impact, to different degrees.
    <footer>- <a href="https://www.straitstimes.com/singapore/coronavirus-full-text-of-speech-by-pm-lee-hsien-loong-on-the-covid-19-outbreak">PM Lee Hsien Loong, on the Covid-19 outbreak</a></footer>
  </blockquote>
  <br/><br/>
  <h5>Sign up/Login now to post and take up jobs to help each other!</h5>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">account_circle</i>Login</div>
      <div class="collapsible-body">{% include "forms/login.html" %}</div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add_circle</i>Signup</div>
      <div class="collapsible-body">{% include "forms/signup.html" %}</div>
    </li>
  </ul>

  {% if msg %}
    <script type="text/javascript">
      {% include "js/error.js" %}
    </script>
  {% endif %}

{% endblock content %}
