<h1>Jobs</h1>

<br/><hr/>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postJobs">
  Post a new job!
</button> -->

<a class="waves-effect waves-light btn modal-trigger" href="#postJobs">Post a new job!</a>

<div id="postJobs" class="modal">
  {% import "forms/setJob.html" as setJobForm %}
  {{setJobForm.setJob(heading="Post a new job!", action="addJob", id="addJobForm", name="addJob")}}
</div>

<br/><br/>

{% if jobs %}
  <label>
    <input id="sortReverse" type="checkbox"/>
    <span>Reverse</span>
  </label>
  &nbsp;
  <label>
    <input id="sortPrice" type="checkbox"/>
    <span>Highest price</span>
  </label>
  &nbsp;
  <label>
    <input id="sortPostedDate" type="checkbox"/>
    <span>Latest date posted</span>
  </label>
  &nbsp;
  <label>
    <input id="sortDuration" type="checkbox"/>
    <span>Shortest duration</span>
  </label>
  &nbsp;
  <label>
    <input id="hideTaken" type="checkbox"/>
    <span>Hide taken jobs</span>
  </label>
  &nbsp;
  <label>
    <input id="postedByMe" type="checkbox"/>
    <span>Posted by me</span>
  </label>
  &nbsp;
  <label>
    <input id="showMyJobs" type="checkbox"/>
    <span>Show my jobs</span>
  </label>
{% endif %}

<br/><br/>

<div id="allJobs">
  {% if jobs %}
    {% for job in jobs %}
      {% set jobID = job["jobID"] %}
      <div id={{jobID}} class="card darken-1"
      data-item-duration='{{job["jobDuration"]}}'
      data-item-price='{{job["jobPrice"]}}'
      data-item-datePosted='{{job["jobDatePosted"]}}'
      data-item-receiver='{{job["jobReceiver"]}}'
      data-item-hidden="false"
      data-item-sender='{{job["jobSender"]}}'>
        <div class="card-content">
          <span class="card-title">
            <span class="badge">{{job["jobSender"]}}</span>
            {{job["jobTitle"]}}
          </span>
          <p>{{job["jobDescription"]}}</p>
          <p><strong>Date start:</strong> {{job["jobDateStart"]}}</p>
          <p><strong>Date end:</strong> {{job["jobDateEnd"]}}</p>
          <p><strong>Duration:</strong> {{job["jobDuration"]}}</p>
          <span class="badge">SGD{{job["jobPrice"]}}</span>
          <span class="badge">
            <i class="material-icons tiny">location_on</i>
            {{job["jobLocation"]}}
          </span>
        </div>
        <div class="card-action">
          <a href="{{url_for('see', id=jobID)}}">Find out more</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h3>There are no jobs available!</h3>
  {% endif %}
</div>

<script type="text/javascript">
  var addJobForm = document.getElementById("addJobForm");
  addJobForm.onsubmit = function () {
    event.preventDefault();
    var dateStart = new Date(document.getElementById("dateStart").value + "T" + document.getElementById("timeStart").value + ":00");
    var dateEnd = new Date(document.getElementById("dateEnd").value + "T" + document.getElementById("timeEnd").value + ":00");
    if (dateStart > dateEnd) {
      M.toast({html: "Date start cannot be greater than date end!"});
    }
    else {
      addJobForm.submit();
    }
  };
</script>

{% if jobs %}
  <script type="text/javascript">
    {% include "js/jobs.js" %}
  </script>
{% endif %}
